include LICENSE
include *.txt *.ini *.cfg *.rst
include conf/*.tmpl
recursive-include pyvac *.ico *.png *.css *.less *.scss *.gif *.jpg *.pt *.txt *.js *.html *.pot *.po *.pem *.otf *.eot *.svg *.ttf *.woff
recursive-exclude tests *
