system_dn: '{system_dn}'
system_pass: '{system_pass}'
ldap_url: 'ldap://{ldap_url}'
basedn: '{basedn}'
search_filter: '(&(objectClass=inetOrgPerson)(employeetype=Employee)(%s))'
mail_attr: 'mail'
firstname_attr: 'givenName'
lastname_attr: 'sn'
login_attr: 'cn'
country_attr: 'c'
manager_attr: 'manager'
admin_dn: '{admin_dn}'
team_dn: '{team_dn}'
