{% extends "layout.html" %}

{% block body %}
<div class="span{% if pyvac.user.country in ['fr', 'lu'] %}7{%else%}12{% endif %}">
<form action="{{ route_url('request_send') }}" method="post" id="todoForm" class="form-horizontal">

    <fieldset>
        <legend class="no-bottom">Leave request</legend>
        <input type="hidden" name="user_id" value="{{pyvac.user.id|default('', true)}}"/>
        <input name="_csrf" type="hidden" value="{{ csrf_token }}">

        <div class="color-legend">
            <span class="color future-approved"></span>&nbsp;<span>approved</span>
            <span class="color future-pending"></span>&nbsp;<span>pending</span>
            <span class="color holiday"></span>&nbsp;<span>holiday</span>
        </div>

        <div class="control-group-no-bottom">
            <div id="datefrompicker"></div>
            <label class="control-label" for="datefrompicker">Period</label>
            <div class="controls">
               <input type="text" name="date_from" id="alternate" value="{{date_from|default('', true)}}" class="input" placeholder="DD/MM/YYYY - DD/MM/YYYY" required="required"/>
            </div>
        </div>

        <div class="control-group-no-bottom">
            <span class="control-label">Type</span>
            <div class="controls">
            {% for type in types %}
                {% if type['id'] in [1, 2, 3, 4] %}
                <label class="radio inline">
                  <input type="radio" name="type" id="type{{ type['name'] }}" value="{{ type['id'] }}" {% if loop.first %}checked=""{% endif %}
                  {% if type['id'] == 2 and pyvac.user.rtt and pyvac.user.rtt['left'] <= 0 %}disabled="disabled"{% endif %}>{{ type['name'] }}
                </label>
                {% endif %}
            {% endfor %}
            </div>
            <div class="controls">
            {% for type in types %}
                {% if type['id'] in [5] %}
                <label class="radio inline">
                  <input type="radio" name="type" id="type{{ type['name'] }}" value="{{ type['id'] }}">{{ type['name'] }}
                </label>
                {% endif %}
            {% endfor %}
            </div>
            <div class="controls">
            {% for type in types %}
                {% if type['id'] in [6] %}
                <label class="radio inline">
                  <input type="radio" name="type" id="type{{ type['name'] }}" value="{{ type['id'] }}">{{ type['name'] }}
                  <a id="exception_info" href="#" data-toggle="tooltip" title="" data-original-title="{{ exception_info_tooltip }}">
                    <span class="badge badge-small">?</span>
                  </a>
                  &nbsp;
                  <input name="exception_text" id="exception_text" maxlength="140" disabled="disabled" type="text" placeholder="Please provide a reason" required="required"/>
                </label>
                {% endif %}
            {% endfor %}
            </div>

            <div class="controls">
            {% for type in types %}
                {% if type['id'] in [7] %}
                <label class="radio inline">
                  <input type="radio" name="type" id="type{{ type['name'] }}" value="{{ type['id'] }}">{{ type['name'] }}
                  <a id="recovered_info" href="#" data-toggle="tooltip" title="" data-original-title="{{ recovered_info_tooltip }}">
                    <span class="badge badge-small">?</span>
                  </a>
                  &nbsp;
                  <select name="recovered_holiday" id="recovered_holiday" disabled="disabled">
                    <option value="-1">-- none --</option>

                {% for h in recovered_cp %}
                    <option value="{{ h.strftime('%d/%m/%Y') }}">
                    {{ h.strftime('%d/%m/%Y') }}
                    </option>
                {% endfor %}
                 </select>
                </label>
                {% endif %}
            {% endfor %}
            </div>

        </div>

        <div class="control-group-no-bottom">
            <span class="control-label">Breakdown</span>
            <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="breakdown" id="breakdownFULL" value="FULL" checked="">Full
                </label>
                <label class="radio inline">
                  <input type="radio" name="breakdown" id="breakdownAM" value="AM" disabled="disabled">AM
                </label>
                <label class="radio inline">
                  <input type="radio" name="breakdown" id="breakdownPM" value="PM" disabled="disabled">PM
                </label>
            </div>
        </div>

        {% if pyvac.user.is_admin %}
        <div class="control-group-no-bottom">
            <span class="control-label">Sudo</span>
            <div class="controls">
            <select name="sudo_user">
                <option value="-1">--- NO ---</option>

            {% for u in sudo_users|sort(attribute='lastname') %}
                <option value="{{ u.id }}">
                {% if u.ldap_user %}
                    {{ u.dn|extract_cn }}
                {% else %}
                    {{ u.name }}
                {% endif %}
                </option>
            {% endfor %}
             </select>
            </div>
        </div>
        {% endif %}

        <div class="control-group-no-bottom">
            <div class="controls">
                <button name="form.submitted" type="submit" class="btn">Submit</button>
            </div>
        </div>
    </fieldset>

</form>
</div>
{% if pyvac.user.country in ['fr', 'lu'] %}
<div class="span5">
    <legend>Informations</legend>
    <ul>
        {% if pyvac.user.arrival_date %}
        <li><b>{{ pyvac.user.anniversary[1] }}</b> days until your {{ (pyvac.user.seniority + 1)|english_suffix}} {% if pyvac.user.firm %}{{ pyvac.user.firm }}{% else %}anni{% endif %}versary ! ({{ pyvac.user.arrival_date.strftime('%d/%m/%Y') }})</li>
        {% endif %}

        {% if pyvac.user.country == 'fr' %}
          {% if pyvac.user.rtt %}
          <li>You have <span class="text-{{pyvac.user.rtt['state']}}"><b>{{pyvac.user.rtt['left']}} RTT</b></span> to use before end of year  {{pyvac.user.rtt['year']}}</li>
          {% endif %}
          {% if pyvac.user.arrival_date and pyvac.user.cp %}
          {% if 'extra' in pyvac.user.cp %}
          <li>You have <b>{{pyvac.user.cp['extra']['left']}} CP {{pyvac.user.cp['extra']['type']}}</b> to use before {{pyvac.user.cp['extra']['expire'].strftime('%d/%m/%Y')}}</li>
          {% endif %}
          <li>You have <b>{{pyvac.user.cp['restant']['left']}} CP restants</b> to use before {{pyvac.user.cp['restant']['expire'].strftime('%d/%m/%Y')}}</li>
          <li>You have <b>{{pyvac.user.cp['acquis']['left']}} CP en acquisition</b> to use before {{pyvac.user.cp['acquis']['expire'].strftime('%d/%m/%Y')}}</li>
          {% endif %}
        {% endif %}
        {% if pyvac.user.country == 'lu' %}
          {% if pyvac.user.arrival_date and pyvac.user.cp %}
          <li>You have <b>{{pyvac.user.cp['restant']['left']}} hours CP REPORT</b> to use before {{pyvac.user.cp['restant']['expire'].strftime('%d/%m/%Y')}}</li>
          <li>You have <b>{{pyvac.user.cp['acquis']['left']|int }} hours CP LÉGAUX</b> to use before {{pyvac.user.cp['acquis']['expire'].strftime('%d/%m/%Y')}}</li>
          {% endif %}
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block js %}

  <script>
  $(function() {
    var cur = -1, prv = -1, days = 0;

    var holidays = {% set comma=joiner() %}[ {% for day in holidays %}{{ comma() }}{{ "%s"|format(day) }}{% endfor %} ];
    var futures_pending = {% set comma=joiner() %}[ {% for day in futures_pending %}{{ comma() }}{{ "%s"|format(day) }}{% endfor %} ];
    var futures_approved = {% set comma=joiner() %}[ {% for day in futures_approved %}{{ comma() }}{{ "%s"|format(day) }}{% endfor %} ];
    var futures_breakdown = {% set comma=joiner() %}[ {% for day in futures_breakdown %}{{ comma() }}{{ "%s"|format(day) }}{% endfor %} ];

    $.datepicker.regional['fr'] = {
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
        'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
        monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin',
        'Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
        dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
        dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
        dayNamesMin: ['D','L','M','M','J','V','S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''};

  /*$.datepicker.setDefaults($.datepicker.regional['fr']);*/

function DateDiff(date1, date2) {
    var datediff = date1.getTime() - date2.getTime(); //store the getTime diff - or +
    return Math.abs(Math.floor(datediff / (24*60*60*1000))); //Convert values to -/+ days and return value
}

  $("#datefrompicker").datepicker({
      showOtherMonths: true,
      numberOfMonths: 2,
      selectOtherMonths: true,
      showButtonPanel: false,
      changeMonth: false,
      dateFormat: 'dd/mm/yy',
      showWeek: false,
      firstDay: 1,
      minDate: {% if pyvac.user.is_admin %}-30{% else %}0{% endif %},

    beforeShowDay: function ( date ) {
        // date from datepicker are in localtime, convert to UTC
        date = new Date(date - new Date(date).getTimezoneOffset() * 60000);

        var date_class = ''
        /* do not select holidays */
        if (holidays.indexOf(date.getTime()) != -1) {
           date_class = 'date-range-holiday';
           return [false, date_class];
        }
        /* do not select future pending or approved */
        if (futures_pending.indexOf(date.getTime()) != -1) {
          clickable = false
          if (futures_breakdown.indexOf(date.getTime()) != -1) {
            clickable = true
          }
          {% if pyvac.user.is_admin %}
          clickable = true
          {% endif %}
          return [clickable, 'date-range-future-pending'];
        }
        if (futures_approved.indexOf(date.getTime()) != -1) {
          clickable = false
          if (futures_breakdown.indexOf(date.getTime()) != -1) {
            clickable = true
          }
          {% if pyvac.user.is_admin %}
          clickable = true
          {% endif %}
          return [clickable, 'date-range-future-approved'];
        }
        var day = date.getUTCDay();
        /* do not select weekend days */
        var isWeekend = (day == 6) || (day == 0);
        if (isWeekend)
        {
            return [false, date_class];
        }

        if ( prv == -1 && prv == cur ) {
            return [true, date_class];
        }

        if (date.getTime() >= Math.min(prv.getTime(), cur.getTime()) && date.getTime() <= Math.max(prv.getTime(), cur.getTime()))
        {
            date_class = 'date-range-selected';
        }
        return [true, date_class];
       },

    onChangeMonthYear: function( year, month, inst ) {

          // retrieve holidays value for the current display year and the next
          $.ajax({
              url: "{{ route_url('list_holiday') }}",
              type: 'post',
              data: {'year': year},
              success: function(data) {
                  holidays = data;
              }
          });
    },

    onSelect: function ( dateText, inst ) {
          var d1, d2;

          prv = cur;
          dt = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
          // date from datepicker are in localtime, convert to UTC
          dt = new Date(dt - new Date(dt).getTimezoneOffset() * 60000);

          cur = dt;
          //cur = dt.getTime();
          if ( prv == -1 || prv == cur ) {
             prv = cur;
             $('#alternate').val( dateText+' - '+dateText  );
             $('#breakdownAM').prop('disabled', false);
             $('#breakdownPM').prop('disabled', false);
          } else {
             dd = DateDiff(prv, cur);
             t = dd % 7;

             last_include = 1;

             if (cur < prv) {
                 w1 = cur.getDay();
                 w2 = prv.getDay();
             }
             else {
                 w2 = cur.getDay();
                 w1 = prv.getDay();
             }
             if (w1 > w2) t-=2;
             if ((w1 == 0 && w2 == 6) || w1 == 6) t--;
             realdiff = Math.abs((Math.floor(dd/7)*5)+t)

             d1 = $.datepicker.formatDate( 'dd/mm/yy', new Date(Math.min(prv.getTime(), cur.getTime())), {} );
             d2 = $.datepicker.formatDate( 'dd/mm/yy', new Date(Math.max(prv.getTime(), cur.getTime())), {} );
             $('#alternate').val( d1+' - '+d2 );
             days = realdiff + last_include;

            if (days == 1) {
                $('#breakdownAM').prop('disabled', false);
                $('#breakdownPM').prop('disabled', false);
                $('#recovered_holiday').prop('disabled', false);
            }
            else {
                $("#breakdownFULL").prop("checked", true);
                $('#breakdownAM').prop('disabled', true);
                $('#breakdownPM').prop('disabled', true);
                $('#recovered_holiday').prop('disabled', true);
            }
          }
       },

    });
  });

  $('input:radio[name="type"]').change(
      function(){
          if ($(this).val() == '6' || $(this).val() == '4') {
              $('#exception_text').prop('disabled', false);
              if ($(this).val() == '4') {
                  $('#exception_text').prop('required', false);
              }
              else
              {
                  $('#exception_text').prop('required', true);
              }
          }
          else if ($(this).val() == '7') {
              $('#recovered_holiday').prop('disabled', false);
          }
          else {
              $('#exception_text').prop('disabled', true);
              $('#recovered_holiday').prop('disabled', true);
          }
      });

  $("#exception_info").tooltip({});
  $("#recovered_info").tooltip({});

  </script>


{% endblock %}
