{% extends "layout.html" %}

{% block navbar %}
{% endblock %}

    {% block body %}
          <form class="form-signin" action="" method="post" id="login_form">
            <h3 class="form-signin-heading">Please sign in</h3>
            <input name="_csrf" type="hidden" value="{{ csrf_token }}">
            Login
            <input name="login" type="text" class="input-block-level" placeholder="Login" value="{{ login }}">
            Password
            <input name="password" type="password" class="input-block-level" placeholder="Password">
            <button name="submit" class="btn btn-primary" type="submit">Sign in</button>
            <a class="btn btn-link" href="{{ route_url('reset_password') }}">Forgot password ?</a>
          </form>
    {% endblock %}
