{% extends "layout.html" %}

{% block navbar %}
{% endblock %}

    {% block body %}
          <form class="form-signin" action="" method="post" id="sudo_form">
            <label class="control-label">{% trans %}Available sudo:{% endtrans %}</label>
            <select name="sudo">
            {% for sudoer in pyvac.sudoers %}
                <option  value="{{ sudoer.id }}" {% if sudoer.id == user.id %}selected="selected"{% endif %}>
                {{ sudoer.name }} {% if sudoer.id == user.id %}(this is you){% endif %}
                </option>
            {% endfor %}
             </select>
            <a href="{{ route_url('home') }}">
                <button name="continue" class="btn btn-primary">Continue</button>
            </a>
          </form>
    {% endblock %}
