{% extends "layout.html" %}

{% block body %}

<form class="form-inline">
    <label>{% trans %}Select month:{% endtrans %}</label>
    <select id="month_select">
    {% for (entry, text) in months %}
        <option  value="{{ entry }}" {% if entry == current_month %}selected="selected"{% endif %}>{{ text }}</option>
    {% endfor %}
     </select>
</form>

<textarea class='exportedlist' id="textexport" rows="10"></textarea>

{% endblock %}

{% block js %}
<script>

$("#month_select").change(function(){
    $.ajax({
        url: "{{ route_url('request_export') }}",
        type: 'post',
        data: {'month': $('#month_select').val()},
        success: function(html) {
            $('#textexport').val(html);
        }
    });
});

$(document).ready(function(){
    $.ajax({
        url: "{{ route_url('request_export') }}",
        type: 'post',
        data: {'month': $('#month_select').val()},
        success: function(html) {
            $('#textexport').val(html);
        }
    });
});

</script>

{% endblock %}
