{% extends "layout.html" %}

{% block body %}
<div id="users-contain">
  <legend>Next requests</legend>
</div>

  <table id="next_requests" class="table table-bordered table-condensed table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th data-sorter="familyName">{% trans %}User{% endtrans %}</th>
        {% if pyvac.user.is_super %}
        <th>{% trans %}Manager{% endtrans %}</th>
        {% endif %}
        <th data-sorter="period" data-dateFormat="ddmmyyyy">{% trans %}Period{% endtrans %}</th>
        {% if pyvac.user.is_super %}
        <th>{% trans %}Conflict{% endtrans %}</th>
        {% endif %}
        <th>{% trans %}Number{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Status{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
        <th>{% trans %}Notified{% endtrans %}</th>
        {% if pyvac.user.is_manager %}
        <th data-sorter="period" data-dateFormat="ddmmyyyy">{% trans %}Submitted{% endtrans %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for req in next %}
      <tr id="tr_req_{{ req.id }}">
            <td>{{ req.user.name }}</td>
            {% if pyvac.user.is_super %}
            <td>{% if req.user.manager_dn %}
                  {{ req.user.manager_dn|extract_cn }}
                {%else%}
                  {% if req.user.manager %}
                    {{ req.user.manager.name }}
                  {%else%}
                    -
                  {% endif %}
                {% endif %}
            </td>
            {% endif %}
            <td>{{ req.date_from.strftime('%d/%m/%Y') }} - {{ req.date_to.strftime('%d/%m/%Y') }}</td>
            {% if pyvac.user.is_super %}
            <td>
                {% if req.conflict %}
                    {% for team in req.conflict %}
                        <a id="td_conflict_req_{{ req.id }}_{{ team }}" href="#" data-toggle="tooltip" title=""
                        data-original-title="{{ conflicts[req.id][team] }}">
                        <span class="badge-important badge">{{ req.conflict[team]|count }}</span></a>
                    {% endfor %}
                {% else %}
                    <span class="badge">0</span>
                {% endif %}
            </td>
            {% endif %}
            <td>{{ req.days }} {{ req.label }}</td>
            <td class="type_message">{{ req.type }}
                {% if req.vacation_type.id == 6 and req.message%}
                  <pre>
                    {{ req.message }}
                  </pre>
                {% endif %}
            </td>
            <td id="td_req_status_{{ req.id }}">{{ req.status }}
                {% if req.status == 'ERROR' %}<br/>
                  <pre>
                    {{ req.message }}
                  </pre>
                {% endif %}
            </td>
            <td id="td_req_buttons_{{ req.id }}">
              {% if req.status != 'ERROR' %}
                  {% if pyvac.user.is_super and (req.user_id != pyvac.user.id) %}

                    {# for admin+managers and for all requests but without user requests #}

                    <a id="accept-request" data-rid="{{ req.id }}" title="accept" class="btn btn-success btn-small"
                    {% if pyvac.user.is_admin %}
                        {% if req.status == 'APPROVED_ADMIN' %}disabled="disabled"{% endif %}
                    {% else %}
                        {% if req.status in ['ACCEPTED_MANAGER', 'APPROVED_ADMIN'] %}disabled="disabled"{% endif %}
                    {% endif %}
                    >
                        ACCEPT
                    </a>
                    <a id="refuse-request" data-rid="{{ req.id }}" title="refuse" class="btn btn-danger btn-small"
                    {% if req.status in ['DENIED', 'APPROVED_ADMIN'] %}disabled="disabled"{% endif %}>
                        DENY
                    </a>
                    {% if pyvac.user.is_admin and (req.user_id != pyvac.user.id) %}
                      <a id="cancel-request" data-rid="{{ req.id }}" title="cancel" class="btn btn-info btn-small"
                      {% if req.status in ['CANCELED', 'DENIED'] %}disabled="disabled"{% endif %}>
                        CANCEL
                      </a>
                    {% endif %}
                  {% else %}

                    {# for normal users or user requests #}

                    {% if pyvac.user.is_admin and (req.user_id == pyvac.user.id) and (req.status == 'ACCEPTED_MANAGER') %}
                      <a id="accept-request" data-rid="{{ req.id }}" title="accept" class="btn btn-success btn-small">
                          ACCEPT
                      </a>
                    {% endif %}
                    <a id="cancel-request" data-rid="{{ req.id }}" title="cancel" class="btn btn-info btn-small"
                    {% if not pyvac.user.is_admin and req.status in ['CANCELED', 'APPROVED_ADMIN', 'DENIED'] %}disabled="disabled"{% endif %}>
                      CANCEL
                    </a>
                  {% endif %}
              {% else %}
              -
              {% endif %}
            </td>
            <td>{{ req.notified }}</td>
            {% if pyvac.user.is_manager %}
            <td>{{ req.created_at.strftime('%d/%m/%Y') }}</td>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


<div id="users-contain">
  <legend>Past requests</legend>
</div>

  <table id="past_requests" class="table table-bordered table-condensed table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th data-sorter="familyName">{% trans %}User{% endtrans %}</th>
        {% if pyvac.user.is_super %}
        <th>{% trans %}Manager{% endtrans %}</th>
        {% endif %}
        <th data-sorter="period" data-dateFormat="ddmmyyyy">{% trans %}Period{% endtrans %}</th>
        <th>{% trans %}Number{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Status{% endtrans %}</th>
        {% if pyvac.user.is_manager %}
        <th data-sorter="period" data-dateFormat="ddmmyyyy">{% trans %}Submitted{% endtrans %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for req in past %}
      <tr id="tr_req_{{ req.id }}">
            <td>{{ req.user.name }}</td>
            {% if pyvac.user.is_super %}
            <td>{% if req.user.manager_dn %}
                  {{ req.user.manager_dn|extract_cn }}
                {%else%}
                  {% if req.user.manager %}
                    {{ req.user.manager.name }}
                  {%else%}
                    -
                  {% endif %}
                {% endif %}
            </td>
            {% endif %}
            <td>{{ req.date_from.strftime('%d/%m/%Y') }} - {{ req.date_to.strftime('%d/%m/%Y') }}</td>
            <td>{{ req.days }} {{ req.label }}</td>
            <td>{{ req.type }}</td>
            <td id="td_req_status_{{ req.id }}">{{ req.status }}{% if req.status == 'ERROR' %}<br/>{{ req.message }}{% endif %}</td>
            {% if pyvac.user.is_manager %}
            <td>{{ req.created_at.strftime('%d/%m/%Y') }}</td>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Refuse a request</h3>
    <div id="flasherrorModal" class="alert alert-error" style="display:none;">
    </div>
  </div>
  <div class="modal-body">
    <p>You must provide a refusal reason</p>
    <textarea placeholder="We need you at this period." id="reasonrefuse"></textarea>
  </div>
  <div class="modal-footer">
    <button id="btnrefuse" data-rid="-1" class="btn btn-danger">Refuse</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>



{% endblock %}


{% block js %}
<script>
    {% if pyvac.user.is_super %}
    {% for id in conflicts %}
      {% for team in conflicts[id] %}
        $("#td_conflict_req_{{id}}_{{team.replace('&', '\\\\&')|safe}}").tooltip({});
      {% endfor %}
    {% endfor %}
    {% endif %}

    ajax_refuse_request = function() {
          // retrieve reason from textarea
          var reason = $('textarea#reasonrefuse').val();

          if (!reason) {
            $("#flasherrorModal").show();
            $("#flasherrorModal").html('You must specify a reason !')
            return;
          }
          request_id = $('button[id="btnrefuse"]').attr('data-rid');
          td_req_status_id = '#td_req_status_' + request_id

          url_refuse = "{{ route_url('request_refuse') }}"

          var posting = $.post( url, {'request_id': request_id, 'reason': reason},
          function( data ) {
            // write new status in cell
            $(td_req_status_id).html(data);
            // disable deny button
            $( '#td_req_buttons_' + request_id +'> a#refuse-request').attr('disabled', 'disabled');

            // reset textarea values and request_id to empty for next call
            $('textarea#reasonrefuse').val('');
            $('button[id="btnrefuse"]').attr('data-rid', -1);
            // hide modal
            $('#myModal').modal('hide');
          },
          'json');
    };

    ajax_request = function() {

          if ($(this).attr('disabled') == 'disabled'){
            return;
          }

          request_id =  $( this ).attr('data-rid');
          td_req_status_id = '#td_req_status_' + request_id;

          /* Send the data using post */
          url_accept = "{{ route_url('request_accept') }}";
          url_refuse = "{{ route_url('request_refuse') }}";
          url_cancel = "{{ route_url('request_cancel') }}";

          if ($( this ).attr('title') == 'accept')
          {
            a_button = 'a#accept-request';
            url = url_accept;
          }
          else if ($( this ).attr('title') == 'refuse')
          {
            a_button = 'a#refuse-request';
            url = url_refuse;
            $('button[id="btnrefuse"]').attr('data-rid', request_id);
            $('#myModal').modal('show');
            return 1;
          }
          else if ($( this ).attr('title') == 'cancel')
          {
            a_button = 'a#cancel-request';
            url = url_cancel;
          }

          var posting = $.post( url, {'request_id': request_id},
          function( data ) {
            $( td_req_status_id ).html(data);
            $( '#td_req_buttons_' + request_id +'> '+a_button ).attr('disabled', 'disabled');
            //if (a_button == 'a#cancel-request'){
              // $('#tr_req_' + request_id).hide();
            //}
          },
          'json');
      };

    $( 'a[id="accept-request"]' )
      .click(ajax_request);

    $( 'a[id="refuse-request"]' )
      .click(ajax_request);

    $( 'a[id="cancel-request"]' )
      .click(ajax_request);

    $( 'button[id="btnrefuse"]' )
      .click(ajax_refuse_request);

    $(document).ready(function()
        {
            // add parser through the tablesorter addParser method
            $.tablesorter.addParser({
                id: "period", // "mmddyyyy", "ddmmyyyy" or "yyyymmdd"
                is: function(s) {
                    // return false so this parser is not auto detected
                    return false;
                },
                format: function(s, table, cell, cellIndex) {
                    if (s) {
                        var c = table.config,
                            ci = c.$headers.filter('[data-column=' + cellIndex + ']:last'),
                            format = ci.length && ci[0].dateFormat || $.tablesorter.getData( ci, $.tablesorter.getColumnData( table, c.headers, cellIndex ), 'dateFormat') || c.dateFormat;
                        s = s.split(' ')[0];
                        s = s.replace(/\s+/g," ").replace(/[\-.,]/g, "/"); // escaped - because JSHint in Firefox was showing it as an error
                        if (format === "mmddyyyy") {
                            s = s.replace(/(\d{1,2})[\/\s](\d{1,2})[\/\s](\d{4})/, "$3/$1/$2");
                        } else if (format === "ddmmyyyy") {
                            s = s.replace(/(\d{1,2})[\/\s](\d{1,2})[\/\s](\d{4})/, "$3/$2/$1");
                        } else if (format === "yyyymmdd") {
                            s = s.replace(/(\d{4})[\/\s](\d{1,2})[\/\s](\d{1,2})/, "$1/$2/$3");
                        }
                    }
                    return s ? $.tablesorter.formatFloat( (new Date(s).getTime() || s), table) : s;
                },
                type: "numeric"
            });

            // add parser through the tablesorter addParser method
            $.tablesorter.addParser({
                id: "familyName",
                is: function(s) {
                    // return false so this parser is not auto detected
                    return false;
                },
                format: function(s, table, cell, cellIndex) {
                    return s.toLowerCase().split(' ', 2)[1];
                },
                type: "text"
            });

            $("#next_requests").tablesorter({
                theme : 'blue',
                debug: false,
            });

            $("#past_requests").tablesorter({
                theme : 'blue',
                debug: false,
            });
        }
    );

</script>

{% endblock %}
