{% extends "layout.html" %}

{% block body %}
<div id="header-pool" class="span12">
  <legend>Pool history for {{ user.name }}</legend>

  <form class="form-inline" method="GET">
      <label>{% trans %}Select year:{% endtrans %}</label>
      <select id="year_select" name="year">
      {% for entry in years %}
          <option value="{{ entry }}" {% if entry == year %}selected="selected"{% endif %}>{{ entry }}</option>
      {% endfor %}
       </select>
  </form>
</div>

<div id="pool-contain-rtt" class="span6">
  <legend>RTT</legend>

  <table id="pool_history_rtt" class="table table-bordered table-condensed table-striped table-hover tablesorter-blue">
    <thead>
      <tr>
        <th>{% trans %}Date{% endtrans %}</th>
        <th>{% trans %}Change{% endtrans %}</th>
        <th>{% trans %}Balance{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% set pool_balance = 0 %}
      {% for entry in pool_history['RTT'] %}
        {% set pool_balance = pool_balance + entry.value %}
        <tr>
          <td>{{ entry.date.strftime('%Y-%m-%d') }}</td>
          <td>{{ entry.value|plusify }}</td>
          <td>{{ pool_balance }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div id="pool-contain-cp" class="span6">
  <legend>CP</legend>

  <table id="pool_history_cp" class="table table-bordered table-condensed table-striped table-hover tablesorter-blue">
    <thead>
      <tr>
        <th>{% trans %}Date{% endtrans %}</th>
        <th>{% trans %}Change{% endtrans %}</th>
        <th>{% trans %}Balance Restant{% endtrans %}</th>
        <th>{% trans %}Balance Acquis{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in pool_history['CP'] %}
        <tr>
          <td>{{ entry.date }}</td>
          <td>{{ entry.value|plusify if loop.index0 else '-'}}{% if entry.flavor %} ({{entry.flavor}}){%endif%}</td>
          <td {% if loop.index0 > 0 and last_restant == entry.restant%}style="color:#aaaaaa"{% endif %}>{{ entry.restant }}</td>
          <td {% if loop.index0 > 0 and last_acquis == entry.acquis%}style="color:#aaaaaa"{% endif %}>{{ entry.acquis }}</td>
        </tr>
        {% set last_acquis = entry.acquis %}
        {% set last_restant = entry.restant %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>

$("#year_select").change(function(){
  this.form.submit();
});

</script>

{% endblock %}
