{% extends "layout.html" %}

{% block body %}
<form action="" method="post" id="createUserForm" class="form-horizontal">

    <fieldset>
        <legend>User</legend>
        <input type="hidden" name="user_id" value="{{user.id|default('', true)}}"/>
        <input type="hidden" name="user.ldap_user" value="{{use_ldap|int}}"/>
        <input name="_csrf" type="hidden" value="{{ csrf_token }}">

        <div class="control-group">
            <label class="control-label" for="inputLogin">{% trans %}Login:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.login" id="inputLogin" value="{{user.login|default('', true)}}"
               {% if user.ldap_user %}
               disabled="disabled"
               {% endif %}
               />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstname">{% trans %}Firstname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.firstname" id="inputFirstname" value="{{user.firstname|default('', true)}}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastname">{% trans %}Lastname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.lastname" id="inputLastname" value="{{user.lastname|default('', true)}}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{% trans %}Email:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.email" id="inputEmail" value="{{user.email|default('', true)}}"/>
            </div>
        </div>

        {% block password %}
        {% if use_ldap and has_permission('admin_view') and view_name == 'create' %}
            <div class="control-group">
                <label class="control-label" for="inputPassword">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="text" name="ldappassword" id="inputPassword" value="{{ password }}"/>
                </div>
            </div>
        {% else %}
            {% if myself %}
            <div class="control-group">
                <label class="control-label" for="inputCurrentPassword">{% trans %}current password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="current_password" id="inputCurrentPassword" value=""/>
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="inputPassword">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="user.password" id="inputPassword" value=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputConfirmPassword">{% trans %}confirm password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="confirm_password" id="inputConfirmPassword" value=""/>
                </div>
            </div>
        {% endif %}
        {% endblock %}

        {% if not use_ldap %}
            {% block groups %}
            {% if has_permission('admin_view') %}
            <div class="control-group">
                <span class="control-label">{% trans %}groups:{% endtrans %}</span>
                <div class="controls">
                {% for g in groups %}
                    <label for="group_{{g.id}}" class="checkbox inline">
                        <input type="checkbox" name="groups" value="{{g.id}}" id="group_{{g.id}}"  class="input-small"
                        {% if g in user.groups %}checked="checked"{% endif %}/>{{g.name}}
                    </label>
                {% endfor %}
                </div>
            </div>

                {% if user.role != 'admin' %}
                <div class="control-group">
                    <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                    <div class="controls">
                    <select name="user.manager_id">
                    {% for m in managers %}
                        {% if m.id != user.id%}
                        <option  value="{{ m.id }}" {% if m.id == user.manager_id %}selected="selected"{% endif %}>{{ m.name }}</option>
                        {% endif %}
                    {% endfor %}
                     </select>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% endblock %}
        {% else %}
            {% if has_permission('admin_view') %}
            <div class="control-group">
                <label class="control-label">{% trans %}country:{% endtrans %}</label>
                <div class="controls">
                <select name="user.country">
                {% for c in countries %}
                    <option  value="{{ c }}" {% if c == "fr" %}selected="selected"{% endif %}>{{ c }}</option>
                {% endfor %}
                 </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{% trans %}organisational unit:{% endtrans %}</label>
                <div class="controls">
                <select name="unit">
                {% for unit in units|sort %}
                    <option  value="{{ unit }}" {% if unit in ldap_user.ou %}selected="selected"{% endif %}>{{ unit|extract_cn }}</option>
                {% endfor %}
                 </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                <div class="controls">
                <select name="user.manager_dn">
                {% for m in managers|sort %}
                    {% if m != user.dn %}
                    <option  value="{{ m }}" {% if ldap_user.manager_dn == m %}selected="selected"{% endif %}>{{ m|extract_cn }}</option>
                    {% endif %}
                {% endfor %}
                 </select>
                </div>
            </div>
            {% endif %}

        {% endif %}

        <div class="control-group">
            <div class="controls">
                <button name="form.submitted" type="submit" class="btn">Valider</button>
            </div>
        </div>
    </fieldset>

</form>

{% endblock %}
