{% extends "layout.html" %}

{% block body %}
<div class="span12">
        <legend>User</legend>
</div>
<form action="" method="post" id="createUserForm" class="form-horizontal" enctype="multipart/form-data">
<div class="span6">
    <fieldset>
        <input type="hidden" name="user_id" value="{{user.id|default('', true)}}"/>
        <input type="hidden" name="user.ldap_user" value="{{use_ldap|int}}"/>
        <input name="_csrf" type="hidden" value="{{ csrf_token }}">
        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="200000" />
        <input type="hidden" id="remove_photo" name="remove_photo" value="no" />

        <div class="control-group">
            <label class="control-label" for="inputLogin">{% trans %}Login:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.login" id="inputLogin" value="{{user.login|default('', true)}}"
               {% if user.ldap_user or use_ldap %}
               disabled="disabled"
               placeholder="firstname.lastname"
               {% endif %}
               />
            </div>
        </div>
        {% if not use_ldap or has_permission('admin_view') %}
        <div class="control-group">
            <label class="control-label" for="inputFirstname">{% trans %}Firstname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.firstname" id="inputFirstname" value="{{user.firstname|default('', true)}}" required="required"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastname">{% trans %}Lastname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.lastname" id="inputLastname" value="{{user.lastname|default('', true)}}" required="required"/>
            </div>
        </div>
        {% endif %}
        {% if has_permission('admin_view') %}
        <div class="control-group">
            <label class="control-label" for="inputRegistrationNumber">{% trans %}Registration Number:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.registration_number" id="inputRegistrationNumber" value="{{user.registration_number|default('', true)}}"/>
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputEmail">{% trans %}Email:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.email" id="inputEmail" value="{{user.email|default('', true)}}" required="required"/>
            </div>
        </div>

        {% block password %}
        {% if use_ldap and has_permission('admin_view') and view_name == 'create' %}
            <div class="control-group">
                <label class="control-label" for="inputPasswordLdap">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="text" name="ldappassword" id="inputPasswordLdap" value="{{ password }}"/>
                </div>
            </div>
        {% else %}
            {% if myself %}
            <div class="control-group">
                <label class="control-label" for="inputCurrentPassword">{% trans %}current password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="current_password" id="inputCurrentPassword" value=""/>
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="inputPassword">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="user.password" id="inputPassword" value="" data-display="passIndicator1"/>
                    <span id="passIndicator1"></span><br/>
                    <span id="passInfo">Password strength must be at least 60%</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputConfirmPassword">{% trans %}confirm password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="confirm_password" id="inputConfirmPassword" value=""/>
                </div>
            </div>
        {% endif %}
        {% endblock %}

        {% if has_permission('admin_view') %}
        <div class="control-group">
            <label class="control-label">{% trans %}country:{% endtrans %}</label>
            <div class="controls">
            <select name="set_country">
            {% for c in countries %}
                <option  value="{{ c.name }}" {% if c.name == user.country %}selected="selected"{% endif %}>{{ c.name }}</option>
            {% endfor %}
             </select>
            </div>
        </div>
        {% endif %}

        {% if not use_ldap %}
            {% block groups %}
            {% if has_permission('admin_view') %}
            <div class="control-group">
                <span class="control-label">{% trans %}groups:{% endtrans %}</span>
                <div class="controls">
                {% for g in groups %}
                    <label for="group_{{g.id}}" class="checkbox inline">
                        <input type="checkbox" name="groups" value="{{g.id}}" id="group_{{g.id}}"  class="input-small"
                        {% if g in user.groups %}checked="checked"{% endif %}/>{{g.name}}
                    </label>
                {% endfor %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{% trans %}role:{% endtrans %}</label>
                <div class="controls">
                <select name="user.role">
                {% for r in ['user', 'manager', 'admin'] %}
                    <option  value="{{ r }}" {% if r == user.role %}selected="selected"{% endif %}>{{ r }}</option>
                {% endfor %}
                 </select>
                </div>
            </div>

                {% if user.role != 'admin' %}
                <div class="control-group">
                    <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                    <div class="controls">
                    <select name="user.manager_id">
                    {% for m in managers %}
                        {% if m.id != user.id%}
                        <option  value="{{ m.id }}" {% if m.id == user.manager_id %}selected="selected"{% endif %}>{{ m.name }}</option>
                        {% endif %}
                    {% endfor %}
                     </select>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% endblock %}
        {% else %}
            {% if has_permission('admin_view') %}
                <div class="control-group">
                    <label class="control-label" for="inputArrivalDate">{% trans %}arrival date:{% endtrans %}</label>
                    <div class="controls">
                       <input type="text" name="arrival_date" id="inputArrivalDate" value="{% if user.arrival_date %}{{user.arrival_date.strftime('%d/%m/%Y')|default('', true)}}{% endif %}" placeholder="DD/MM/YYYY"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{% trans %}teams:{% endtrans %}</label>
                    <div class="controls">
                    <select id="teams" name="teams" multiple="multiple">
                    {% for team in teams|sort %}
                        <option value="{{ team }}" {% if team in user_teams %}selected="selected"{% endif %}>{{ team }}</option>
                        }
                    {% endfor %}
                     </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{% trans %}role:{% endtrans %}</label>
                    <div class="controls">
                    <select name="ldap_role">
                    {% for r in ['user', 'manager', 'admin'] %}
                        <option  value="{{ r }}" {% if r == user.role %}selected="selected"{% endif %}>{{ r }}</option>
                    {% endfor %}
                     </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                    <div class="controls">
                    <select name="user.manager_dn">
                    {% for m in managers|sort %}
                        {% if m != user.dn %}
                        <option  value="{{ m }}" {% if ldap_user.manager_dn == m %}selected="selected"{% endif %}>{{ m|extract_cn }}</option>
                        {% endif %}
                    {% endfor %}
                     </select>
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <label class="control-label" for="inputUid">{% trans %}nickname:{% endtrans %}</label>
                <div class="controls">
                   <input type="text" name="user.uid" id="inputUid" value="{{user.uid|default('', true)}}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputMobile">{% trans %}phone number:{% endtrans %}</label>
                <div class="controls">
                   <input type="text" name="mobile" id="inputMobile" value="{{ldap_user.mobile|default('', true)}}"/>
                </div>
            </div>

        {% endif %}
        {% if has_permission('admin_view') %}
        <div class="control-group">
            <label class="control-label" for="disable_rtt">{% trans %}disable RTT:{% endtrans %}</label>
            <div class="controls">
                <input type="checkbox" name="disable_rtt" value="1" id="disable_rtt" class="input-small"
                {% if user.has_feature('disable_rtt') %}checked="checked"{% endif %}/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputPartialTime">{% trans %}partial time:{% endtrans %}
               <a id="partial_time_info" href="#" data-toggle="tooltip" title="" data-original-title="{{ partial_time_tooltip }}">
                  <span class="badge badge-small">?</span>
               </a>
            </label>
            <div class="controls">
               <input type="text" name="user.partial_time" id="inputPartialTime" value="{{user.partial_time|default('', true)}}" placeholder="X/5" />
            </div>
        </div>

        {% endif %}

        <div class="control-group">
            <div class="controls">
                <button name="form.submitted" type="submit" id="submitbutton" class="btn">Valider</button>
            </div>
        </div>
    </fieldset>
</div>
<div class="span6">
    {% if use_ldap %}
    <fieldset>
    <div class="control-group">
        <label class="control-label" for="photofile">{% trans %}Photo:{% endtrans %}</label>
        <div class="controls">
            <div id="filedrag">
                <div id="filedrag_text">
                    Drag & drop image file here<br/>or<br/>click the button below
                </div>
                <image id="profileimg" name="profileimg" {% if ldap_user.photo %}src="data:image/png;base64,{{ ldap_user.photo }}"{% endif %}/>
            </div>
            <button class="btn btn-inverse btn-mini pull-right" type="button" id="deletephoto" name="deletephoto">Delete</button>
        </div>
        <div class="controls">
            <input type="file" name="photofile" id="photofile"/>
            <label>The maximum file size allowed is 200KB</label>
        </div>
    </div>
    </fieldset>
    {% endif %}
</div>
</form>

{% endblock %}


{% block js %}
<script src="{{ static_url('pyvac:static/js/jquery-pstrength/pStrength.jquery.js') }}"></script>
<script>

$(document).ready(function(){

    _passwordIsOk = true;

    $("#partial_time_info").tooltip({});

    $('#createUserForm').submit(function(){
        return _passwordIsOk;
    });

    $('#inputPassword').pStrength({
        'bind': 'keyup change',
        'changeBackground' : true,
        'backgrounds'     : [['#fff', '#000'], ['#cc3333', '#FFF'], ['#cc6666', '#FFF'], ['#ff9999', '#FFF'],
                            ['#e0941c', '#000'], ['#e8a53a', '#000'], ['#eab259', '#000'], ['#efd09e', '#000'],
                            ['#ccffcc', '#000'], ['#66cc66', '#FFF'], ['#339933', '#fff'], ['#006600', '#FFF'], ['#105610', '#FFF']],
        'passwordValidFrom': 60, // 60%
        'onPasswordStrengthChanged' : function(passwordStrength, strengthPercentage) {
            if ($('#inputPassword').val() != '')
            {
                _passwordIsOk = false;
                $('#passIndicator1').html('Strength is ' + strengthPercentage + '%');
            }
            else {
                _passwordIsOk = true;
            }
        },
        'onValidatePassword': function(strengthPercentage) {
            $('#passIndicator1').html('OK! (Strength is '+ strengthPercentage + '%)');
            _passwordIsOk = true;
        }
    });

    {% if has_permission('admin_view') %}
    $('#teams').multiselect();
    {% endif %}

    $("#inputArrivalDate").datepicker({dateFormat: 'dd/mm/yy'});

    $('#deletephoto').on('click', function(event) {
        $('#profileimg').removeAttr('src');
        $('#remove_photo').val('yes');
        $('#photofile').val(null);
        $('#messages').html('Preview');
        $('#filedrag_text').show();
    });

    // file drag hover
    function FileDragHover(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type == "dragover")
        {
            $('#filedrag').addClass('hover');
        }
        else {
             $('#filedrag').removeClass('hover');
        }
        // e.target.className = (e.type == "dragover" ? "hover" : "");
    }

    // file selection
    function FileSelectHandler(e) {

        // cancel event and hover styling
        FileDragHover(e);

        // retrieve input
        fileselect = $("#photofile");
        if (e.dataTransfer) {
            // drag and drop is the source
            // fetch FileList object
            var files = e.dataTransfer.files;
            source = 'dragdrop';
        }
        else {
            // input file is the source
            // fetch FileList object
            var files = e.target.files;
            source = 'input';
        }
        // console.log(files);
        // only accept one file, not multiple
        if (files.length > 1) {
            return;
        }

        file = files[0]
        // only accept image file
        if (file.type.indexOf("image") == -1) {
            if (source == 'input') {
                console.log('Invalid file format', file.type);
                // reset value
                fileselect.val(null);
            }
            return;
        }

        // check image size
        var maxsize = $('#MAX_FILE_SIZE').val();
        if (file.size > maxsize) {
            console.log('Invalid size', file.size);
            if (source == 'input') {
                // reset value
                fileselect.val(null);
            }
            return;
        }

        // update fileselect with files but disable eventlistener to avoid triggering itself
        if (e.type == "drop")
        {
            fileselect[0].removeEventListener("change", FileSelectHandler, false);
            fileselect[0].files = files;
            fileselect[0].addEventListener("change", FileSelectHandler, false);
        }

        // display info panel
        ParseFile(file);

        $('#filedrag_text').hide();
    }

    // output file information
    function ParseFile(file) {
        // display an image
        if (file.type.indexOf("image") == 0) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#profileimg').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        }
    }

    // initialize
    function Init() {

        var fileselect = $('#photofile')[0];
        var filedrag = $('#filedrag')[0];

        // file select
        fileselect.addEventListener("change", FileSelectHandler, false);

        // file drop
        filedrag.addEventListener("dragover", FileDragHover, false);
        filedrag.addEventListener("dragleave", FileDragHover, false);
        filedrag.addEventListener("drop", FileSelectHandler, false);
        filedrag.style.display = "block";
    }

    // call initialization file
    if (window.File && window.FileList && window.FileReader) {
        Init();
    }

    {% if use_ldap and ldap_user.photo %}
        $('#filedrag_text').hide();
    {% endif %}
});
</script>
{% endblock %}
