{% extends "layout.html" %}

{% block body %}
<form action="" method="post" id="createUserForm" class="form-horizontal">

    <fieldset>
        <legend>User</legend>
        <input type="hidden" name="user_id" value="{{user.id|default('', true)}}"/>
        <input type="hidden" name="user.ldap_user" value="{{use_ldap|int}}"/>
        <input name="_csrf" type="hidden" value="{{ csrf_token }}">

        <div class="control-group">
            <label class="control-label" for="inputLogin">{% trans %}Login:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.login" id="inputLogin" value="{{user.login|default('', true)}}"
               {% if user.ldap_user or use_ldap %}
               disabled="disabled"
               placeholder="firstname.lastname"
               {% endif %}
               />
            </div>
        </div>
        {% if not use_ldap or has_permission('admin_view') %}
        <div class="control-group">
            <label class="control-label" for="inputFirstname">{% trans %}Firstname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.firstname" id="inputFirstname" value="{{user.firstname|default('', true)}}" required="required"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastname">{% trans %}Lastname:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.lastname" id="inputLastname" value="{{user.lastname|default('', true)}}" required="required"/>
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputEmail">{% trans %}Email:{% endtrans %}</label>
            <div class="controls">
               <input type="text" name="user.email" id="inputEmail" value="{{user.email|default('', true)}}" required="required"/>
            </div>
        </div>

        {% block password %}
        {% if use_ldap and has_permission('admin_view') and view_name == 'create' %}
            <div class="control-group">
                <label class="control-label" for="inputPasswordLdap">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="text" name="ldappassword" id="inputPasswordLdap" value="{{ password }}"/>
                </div>
            </div>
        {% else %}
            {% if myself %}
            <div class="control-group">
                <label class="control-label" for="inputCurrentPassword">{% trans %}current password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="current_password" id="inputCurrentPassword" value=""/>
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="inputPassword">{% trans %}password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="user.password" id="inputPassword" value="" data-display="passIndicator1"/>
                    <span id="passIndicator1"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputConfirmPassword">{% trans %}confirm password:{% endtrans %}</label>
                <div class="controls">
                    <input type="password" name="confirm_password" id="inputConfirmPassword" value=""/>
                </div>
            </div>
        {% endif %}
        {% endblock %}

        {% if not use_ldap %}
            {% block groups %}
            {% if has_permission('admin_view') %}
            <div class="control-group">
                <span class="control-label">{% trans %}groups:{% endtrans %}</span>
                <div class="controls">
                {% for g in groups %}
                    <label for="group_{{g.id}}" class="checkbox inline">
                        <input type="checkbox" name="groups" value="{{g.id}}" id="group_{{g.id}}"  class="input-small"
                        {% if g in user.groups %}checked="checked"{% endif %}/>{{g.name}}
                    </label>
                {% endfor %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{% trans %}role:{% endtrans %}</label>
                <div class="controls">
                <select name="user.role">
                {% for r in ['user', 'manager', 'admin'] %}
                    <option  value="{{ r }}" {% if r == user.role %}selected="selected"{% endif %}>{{ r }}</option>
                {% endfor %}
                 </select>
                </div>
            </div>

                {% if user.role != 'admin' %}
                <div class="control-group">
                    <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                    <div class="controls">
                    <select name="user.manager_id">
                    {% for m in managers %}
                        {% if m.id != user.id%}
                        <option  value="{{ m.id }}" {% if m.id == user.manager_id %}selected="selected"{% endif %}>{{ m.name }}</option>
                        {% endif %}
                    {% endfor %}
                     </select>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% endblock %}
        {% else %}
            {% if has_permission('admin_view') %}
                <div class="control-group">
                    <label class="control-label">{% trans %}country:{% endtrans %}</label>
                    <div class="controls">
                    <select name="set_country">
                    {% for c in countries %}
                        <option  value="{{ c.name }}" {% if c.name == user.country %}selected="selected"{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                     </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{% trans %}teams:{% endtrans %}</label>
                    <div class="controls">
                    <select id="teams" name="teams" multiple="multiple">
                    {% for team in teams|sort %}
                        <option value="{{ team }}" {% if team in user_teams %}selected="selected"{% endif %}>{{ team }}</option>
                        }
                    {% endfor %}
                     </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{% trans %}manager:{% endtrans %}</label>
                    <div class="controls">
                    <select name="user.manager_dn">
                    {% for m in managers|sort %}
                        {% if m != user.dn %}
                        <option  value="{{ m }}" {% if ldap_user.manager_dn == m %}selected="selected"{% endif %}>{{ m|extract_cn }}</option>
                        {% endif %}
                    {% endfor %}
                     </select>
                    </div>
                </div>

            {% endif %}

        {% endif %}

        <div class="control-group">
            <div class="controls">
                <button name="form.submitted" type="submit" class="btn">Valider</button>
            </div>
        </div>
    </fieldset>

</form>

{% endblock %}


{% block js %}
<script src="{{ static_url('pyvac:static/js/jquery-pstrength/pStrength.jquery.js') }}"></script>
<script>

$(document).ready(function(){

    _passwordIsOk = true;

    $('#createUserForm').submit(function(){
        return _passwordIsOk;
    });

    $('#inputPassword').pStrength({
        'bind': 'keyup change',
        'changeBackground' : true,
        'backgrounds'     : [['#fff', '#000'], ['#cc3333', '#FFF'], ['#cc6666', '#FFF'], ['#ff9999', '#FFF'],
                            ['#e0941c', '#000'], ['#e8a53a', '#000'], ['#eab259', '#000'], ['#efd09e', '#000'],
                            ['#ccffcc', '#000'], ['#66cc66', '#FFF'], ['#339933', '#fff'], ['#006600', '#FFF'], ['#105610', '#FFF']],
        'passwordValidFrom': 60, // 60%
        'onPasswordStrengthChanged' : function(passwordStrength, strengthPercentage) {
            if ($('#inputPassword').val() != '')
            {
                _passwordIsOk = false;
                $('#passIndicator1').html('Strength is ' + strengthPercentage + '%');
            }
            else {
                _passwordIsOk = true;
            }
        },
        'onValidatePassword': function(strengthPercentage) {
            $('#passIndicator1').html('OK! (Strength is '+ strengthPercentage + '%)');
            _passwordIsOk = true;
        }
    });

    $('#teams').multiselect();
});
</script>
{% endblock %}
