{% extends "layout.html" %}

    {% block body %}
<div id="users-contain">
  <legend>Users
  <a href="{{ route_url('create_account') }}">
      {% trans %}[+]{% endtrans %}
  </a>
</legend>

  <table id="users" class="table table-bordered table-condensed table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th>{% trans %}Login{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Manager{% endtrans %}</th>
        {% if use_ldap and has_permission('admin_view') %}
        <th>{% trans %}Country{% endtrans %}</th>
        <th>{% trans %}Teams{% endtrans %}</th>
        {% endif %}
        <th>{% trans %}Group{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
            <td>
                <a href="{{ route_url('edit_account', user_id=user.id) }}">
                    {{ user.login }}
                </a>
            </td>
            <td>{{ user.name }}</td>
            <td>{% if user.manager_dn %}
                  {{ user.manager_dn|extract_cn }}
                {%else%}
                  {% if user.manager %}
                    {{ user.manager.name }}
                  {%else%}
                    -
                  {% endif %}
                {% endif %}
            </td>
            {% if use_ldap and has_permission('admin_view') %}
            <td>
                {{ user.country }}
            </td>
            <td>
                {{ ','.join(users_teams.get(user.dn, [])) }}
            </td>
            {% endif %}
            <td>
                {% set pipe = joiner(", ") %}
                {% for g in user.groups %}{{ pipe() }}{{g.name}}{% endfor %}
            </td>
            <td>
                <a href="{{ route_url('delete_account', user_id=user.id) }}">
                    delete
                </a>
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    {% endblock %}

{% block js %}
<script>
    $(document).ready(function()
        {
            $("#users").tablesorter({
                theme : 'blue',
                debug: false,
            });
        }
    );
</script>

{% endblock %}
