[Unit]
Description=pyvac worker, in charge of managing employee vacation
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=pyvac
Group=nogroup
ExecStart=/usr/bin/pyvac_celeryd /etc/gandi/pyvac/pyvac.yaml -l INFO -Q pyvac_work
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
WorkingDirectory=/usr/lib/python2.7/dist-packages/pyvac
Environment=PYTHONPATH='/usr/lib/python2.7/dist-packages/pyvac'
PrivateTmp=true
