{% extends "layout.html" %}

{% block navbar %}
{% endblock %}

{% block body %}
<form action="" method="post" id="changePasswordForm" class="form-horizontal">

    <fieldset>
        <legend>Password update</legend>
        <input type="hidden" name="user_id" value="{{user.id|default('', true)}}"/>
        <input name="_csrf" type="hidden" value="{{ csrf_token }}">

        <div class="control-group">
            <label class="control-label" for="inputPassword">{% trans %}password:{% endtrans %}</label>
            <div class="controls">
                <input type="password" name="user.password" id="inputPassword" value="" data-display="passIndicator1"/>
                <span id="passIndicator1"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputConfirmPassword">{% trans %}confirm password:{% endtrans %}</label>
            <div class="controls">
                <input type="password" name="confirm_password" id="inputConfirmPassword" value=""/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button name="form.submitted" type="submit" class="btn">Submit</button>
            </div>
        </div>
    </fieldset>

</form>

{% endblock %}

{% block js %}
<script src="{{ static_url('pyvac:static/js/jquery-pstrength/pStrength.jquery.js') }}"></script>
<script>

$(document).ready(function(){

    _passwordIsOk = false;

    $('#changePasswordForm').submit(function(){
        return _passwordIsOk;
    });

    $('#inputPassword').pStrength({
        'bind': 'keyup change',
        'changeBackground' : true,
        'backgrounds'     : [['#fff', '#000'], ['#cc3333', '#FFF'], ['#cc6666', '#FFF'], ['#ff9999', '#FFF'],
                            ['#e0941c', '#000'], ['#e8a53a', '#000'], ['#eab259', '#000'], ['#efd09e', '#000'],
                            ['#ccffcc', '#000'], ['#66cc66', '#FFF'], ['#339933', '#fff'], ['#006600', '#FFF'], ['#105610', '#FFF']],
        'passwordValidFrom': 60, // 60%
        'onPasswordStrengthChanged' : function(passwordStrength, strengthPercentage) {
            _passwordIsOk = false;
            $('#passIndicator1').html('Strength is ' + strengthPercentage + '%');
        },
        'onValidatePassword': function(strengthPercentage) {
            $('#passIndicator1').html('OK! (Strength is '+ strengthPercentage + '%)');
            _passwordIsOk = true;
        }
    });
});
</script>
{% endblock %}
